!= js("entry")

.container
  .row
    .span8.offset2
      .entry
        | Hits: #{count}
        br
        br
        label#short_url_label This:
          input#short_url(value=short_url, readonly)
        | and this:
        br
        img(src="#{qr_code}")
        br
        | Point to this: 
        = text
        br
        - if (type != "url")
          div.alert.alert-error
            strong Careful! 
            | This does not appear to be a valid URL.
            | Did you remember to stick "http://" at the front?
        br
        a.go_back(href="/") <<< Make another one