!= js('index')
.container
  .row
    .span6.offset3
      .main
        h1 wiqr 
          span#pronunciation [wik-er]
        h3 Making QR Codes should be as easy as using them!
        form#url-form.form-inline.well(method="post", action="create")
          p Enter a URL and we'll create a shortened URL and a QR code:
          input#url-input.input-xlarge(type="text", name="url", placeholder="e.g. http://google.com")
          input.btn.btn-primary(type="submit", value="Do it!")
        p.disclaimer
          | This site is in beta, therefore:
          ul
            li No service guarantees, use at your own risk (and pleasure!).
            li
              a(href="mailto:jon@jonabrams.com") Please send 
              | any and all feedback.