!!!
html
  head
    title wiqr | Simple QR Code Generator
    != css("main")
    script(src="http://code.jquery.com/jquery-1.7.2.min.js")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="description", content="Easy URLs shortener and QR Code generator.") 
  body!= body
